ul{
    list-style: none;
    font-weight: bolder;
}
header{
    width:100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 4px solid rgb(190, 151, 20);
}
li{
    display: inline-block;
    font-size: 18px;
    padding: 10px;
}
li:hover{
    background-color: white;
    
}
nav {
    float: right;
    padding: 15px;
}

#logo{
    margin: 20px;
    float: left;
    width: 200px;
}

#icon-menu{
    visibility: hidden;
    width: 32px;
    height: 32px;
   
}

@media only screen and (max-width:650px){
    header{
        position: absolute;
    }

    #icon-menu{
        visibility: visible;
       background-color:rgb(190, 151, 20);
     
      
    }
    #icon-menu:hover{
        visibility: visible;
       
      
    }
    nav ul, nav:active ul {
        display:none;
        position: absolute;
        padding: 20px;
        background: white;
        right: 10px;
        top: 35px;
        width: 35%;
       
    }
    nav:hover ul {
        display: block;
    }
    nav li {
        text-align: center;
        width: 100%;
        padding: 15px 0;
        margin: 0;
    }
li:hover{
        color:rgb(190, 151, 20) ;
}
}